@*@model MOTStatusWebApi.Data.MOTStatusDetails
*@

@using CustomerApp.ViewModels
@model MOTCustomerStatusViewData

<head>
    <link href="~/css/DetailConfirmation.css" rel="stylesheet" type="text/css"/>
</head>

<div class="container p-3 mt-4 bg-body-secondary">
    <div class="row pt-4">
        <div class="col-2"></div>
        <div class="col-8">
            <h2><strong>Is this the vehicle you are looking for?</strong></h2><br />
            <table>
                <tr>
                   <td class="attribute">Registration number</td>
                   <td>
                       <div id="regPlate">
                            <h4>@Model.mOTStatusDetails.RegistrationNumber</h4>   
                       </div>
                   </td>
                </tr>
                <tr>
                    <td class="attribute">Make</td>
                    <td>@Model.mOTStatusDetails.Make</td>
                </tr>
                <tr>
                    <td class="attribute">Colour</td>
                    <td>@Model.mOTStatusDetails.VehicleColour</td>
                </tr>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<form method="post">

    @if(Model.ConfirmNotSelectedError == false)
    {
     <div class="container p-3 mt-0 bg-body-secondary">
         <div class="row pt-0">
               <div class="col-2"></div>
               <div class="col-6">
                  <input type="radio" id="Yes" name="confirm" value="Yes"/>
                  <label for="Yes" style="margin-right:60px;">Yes</label>
                  <input type="radio" id="No" name="confirm" value="No"/>
                  <label for="No">No, search again</label>
               </div>
               <div class="col-4"></div>       
         </div>        
    </div>
    }else if(Model.ConfirmNotSelectedError == true)
    {
        <div class="container p-3 mt-0 bg-body-secondary">
         <div class="row pt-0">
               <div class="col-2"></div>
               <div class="col-6" style="border-left-style: solid; border-left-color: red; border-width: 5px">
                   <h5 style="color:red; margin-left:10px"><strong>Select yes if this is the correct vehicle or no to search again</strong></h5>
                  <input type="radio" id="Yes" name="confirm" value="Yes"/>
                  <label for="Yes" style="margin-right:60px;" >Yes</label>
                  <input type="radio" id="No" name="confirm" value="No"/>
                  <label for="No">No, search again</label>
               </div>
               <div class="col-4"></div>       
         </div>        
        </div>
    }

    <div class="container p-0 mt-0 bg-body-secondary" >
        <div class="row pt-0">
            <div class="col-2"></div>
            <div class="col-2">
                <button class="button" id="buttonactive" type="submit" onclick="location.href='@Url.Action("DetailConfirmation", "Home",Model)'">Continue</button>    
            </div>
        </div>
    </div>  
</form>

 <div class="container p-0 mt-4 bg-body-secondary">
        <div class="row pt-0">
            <div class="col-2"></div>
            <div class="col-8">
                <div style="display:inline">
                   <img id="arrowIcon" src="~/images/icons8-right-arrow-64.png" width="23" height="23"/>
                   <button id="IncorrectVehicleDetails" onclick="IncorrectVehicleDetails()"> Incorrect vehicle details?</button>
                </div>
                <div id="incorrectVehicleDetailsInfo" style="display:none;">
                  <p style="margin-left:10px; margin-top:10px;">
                      If your vehicle details are incorrect you may need to <a href="">update them</a>.
                  </p>
                 
                </div>
           </div>
      </div>
</div>

<script>
    function IncorrectVehicleDetails() {

      var x = document.getElementById("incorrectVehicleDetailsInfo");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }

    var arrow = document.getElementById("arrowIcon");
     if(arrow.src === 'https://localhost:7131/images/icons8-right-arrow-64.png'){
         arrow.src = 'https://localhost:7131/images/icons8-drop-down-64.png';
     } else {
         arrow.src = 'https://localhost:7131/images/icons8-right-arrow-64.png';
     }
}

</script>
