 
@model MOTStatusWebApi.Data.MOTStatusDetails

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/Index.css" rel="stylesheet" type="text/css"/>
</head>


<div class="container p-3 mt-4 bg-body-secondary">
    <div class="row pt-4">
        <div class="col-2"></div>
        <div class="col-8">
            <h1><strong>Enter the registration of the</strong></h1>
            <h1><strong>vehicle</strong></h1><br />

            <form method="post">

                @if(ViewBag.RegistrationValidationError == false && ViewBag.RegistrationFormatError == false)
                {
                  <div class="mb-3">
                       <h3><strong>Registration number (number plate)</strong></h3>
                       <p style="font-size:20px">For example, CU57ABC or ABC1234</p>
                    <input class="regInput" type="text" name="registration" maxlength="7"/>
                  </div>
                }else if(ViewBag.RegistrationValidationError == true && ViewBag.RegistrationFormatError == false)
                {
                  <div style="border-left-style: solid; border-left-color: red; border-width: 5px">
                       <h3 style="margin-left:10px"><strong>Registration number (number plate)</strong></h3>
                       <p style="font-size:20px; margin-left:10px">For example, CU57ABC or ABC1234</p>
                       <h4 style="color:red; margin-left:10px"><strong>Provide the vehicle registration</strong></h4>  
                      <div class="mb-3">
                        <input class="errorRegInput" type="text" name="registration" maxlength="7" />
                      </div>
                    </div>
                }else if(ViewBag.RegistrationValidationError == false && ViewBag.RegistrationFormatError == true)
                {
                    <div style="border-left-style: solid; border-left-color: red; border-width: 5px">
                       <h3 style="margin-left:10px"><strong>Registration number (number plate)</strong></h3>
                       <p style="font-size:20px; margin-left:10px">For example, CU57ABC or ABC1234</p>
                       <h4 style="color:red; margin-left:10px"><strong>Provide a valid vehicle registration</strong></h4>  
                      <div class="mb-3">
                        <input class="errorRegInput" type="text" name="registration" maxlength="7" />
                      </div>
                    </div>
                }else if(ViewBag.RegistrationNotFoundError = true)
                {
                    <div style="border-left-style: solid; border-left-color: red; border-width: 5px">
                       <h3 style="margin-left:10px"><strong>Registration number (number plate)</strong></h3>
                       <p style="font-size:20px; margin-left:10px">For example, CU57ABC or ABC1234</p>
                       <h4 style="color:red; margin-left:10px"><strong>Vehicle registration was not found</strong></h4>  
                      <div class="mb-3">
                        <input class="errorRegInput" type="text" name="registration" maxlength="7" />
                      </div>
                    </div>
                }

                <br />
               <button class="button" id="buttonactive" type="submit">Continue</button>
               
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<script>

 
</script>