#regPlate {
    background: #ffd633;
    width: 140px;
    text-align: center;
    border-radius: 8px;
    height: 40px;
    padding-top: 5px;
    margin-bottom: 7px;
    margin: 0 auto;
}

#greenCard {
    background-color: green;
    color: white;
    width: 417px;
    margin: 10px;
    text-align: center;
}

#redCard {
    background-color: red;
    color: white;
    width: 417px;
    margin: 10px;
    text-align: center;
}

#IncorrectVehicleDetails {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #0059b3;
    text-decoration: underline;
    cursor: pointer;
}

#incorrectVehicleDetailsInfo {
    border-left-style: solid;
    border-left-color: #b3b3b3;
    border-width: 4px;
}

#IncorrectTaxStatus {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #0059b3;
    text-decoration: underline;
    cursor: pointer;
}

#taxStatusInfo {
    border-left-style: solid;
    border-left-color: #b3b3b3;
    border-width: 4px;
}

#IncorrectMOTStatus {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #0059b3;
    text-decoration: underline;
    cursor: pointer;
}

#MOTStatusInfo {
    border-left-style: solid;
    border-left-color: #b3b3b3;
    border-width: 4px;
}

a {
    color: #0059b3
}

td {
    font-size: 17px;
}

tr {
    border-bottom: 1pt solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.attribute {
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}

#DVLAServices {
    border-top-style: solid;
    border-top-color: #006bb3;
    border-width: 10px;
}

#serviceLink {
    margin-bottom: 10px;
}

#button {
    background-color: green;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 20px;
}
