@model MOTStatusWebApi.Data.MOTStatusDetails

<head>
    <link href="~/css/Create.css" rel="stylesheet" type="text/css"/>
</head>



<form method="post">
     <div class="border p-3 mt-4 bg-body-secondary">
          <div class="container">
            <div class="row pb-2">
                <div class="col-6">
                    <h4>Create Vehicle Details</h4>
                </div>
                <div class="col-6" style="text-align:right">
                    <button type="submit" class="btn btn-success" style="width:150px;">Create</button>
                </div>
            </div>

            <div class="container p-3">
                <div class="row pt-0">
                    <div class="col-4">
                        <div class="mb-3">
                            <label asp-for="RegistrationNumber" class="attribute"></label>
                            <input asp-for="RegistrationNumber" class="form-control" maxlength="10" placeholder="e.g DF05TYQ"/>
                            <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Make" class="attribute"></label>
                            <input asp-for="Make" class="form-control"/>
                            <span asp-validation-for="Make" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="DateOfRegistration" class="attribute"></label>
                            <input asp-for="DateOfRegistration" class="form-control" placeholder="DD/MM/YYYY" type="date"/>
                            <span asp-validation-for="DateOfRegistration" class="text-danger"></span>      
                        </div>
                        <div class="mb-3">
                            <label asp-for="CylinderCapacity" class="attribute"></label>
                            <input asp-for="CylinderCapacity" class="form-control"/>
                            <span asp-validation-for="CylinderCapacity" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CO2Emissions" class="attribute"></label>
                            <input asp-for="CO2Emissions" class="form-control"/>
                            <span asp-validation-for="CO2Emissions" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="FuelType" class="attribute"></label>
                                <select asp-for="FuelType" class="form-select">
                                    <option value="PETROL">PETROL</option>
                                    <option value="DEISEL">DEISEL</option>
                                    <option value="ELECTRIC">ELECTRIC</option>
                                    <option value="HYBRID">HYBRID</option>
                                </select>
                        </div>                  
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            <label asp-for="EuroStatus" class="attribute"></label>
                            <input asp-for="EuroStatus" class="form-control"/>
                            <span asp-validation-for="EuroStatus" class="text-danger"></span>
                        </div>
                            <div class="mb-3">
                            <label asp-for="RealDrivingEmissions" class="attribute"></label>
                            <input asp-for="RealDrivingEmissions" class="form-control"/>
                            <span asp-validation-for="RealDrivingEmissions" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ExportMarker" class="attribute"></label>
                                <select asp-for="ExportMarker" class="form-select">
                                    <option value="YES">YES</option>
                                    <option value="NO">NO</option>
                                </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="VehicleColour" class="attribute"></label>
                            <input asp-for="VehicleColour" class="form-control"/>
                            <span asp-validation-for="VehicleColour" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="VehicleTypeApproval" class="attribute"></label>
                            <input asp-for="VehicleTypeApproval" class="form-control"/>
                            <span asp-validation-for="VehicleTypeApproval" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="WheelPlan" class="attribute"></label>
                                <select asp-for="WheelPlan" class="form-select">
                                    <option value="2 AXLE RIGID BODY">2 AXLE RIGID BODY</option>
                                    <option value="4X4">4X4 </option>
                                </select>
                        </div>
                    </div>
                    <div class="col-4">
                         <div class="mb-3">
                            <label asp-for="RevenueWeight" class="attribute"></label>
                            <input asp-for="RevenueWeight" class="form-control"/>
                            <span asp-validation-for="RevenueWeight" class="text-danger"></span>
                        </div>
                         <div class="mb-3">
                            <label asp-for="DateOfLastV5C" class="attribute"></label>
                            <input asp-for="DateOfLastV5C" class="form-control" placeholder="DD/MM/YYYY" type="date"/>
                             <span asp-validation-for="DateOfLastV5C" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TaxDueDate" class="attribute"></label>
                            <input asp-for="TaxDueDate" class="form-control" disabled="disabled"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="DateOfLastMOT" class="attribute"></label>
                            <input asp-for="DateOfLastMOT" class="form-control" placeholder="DD/MM/YYYY" type="date"/>
                            <span asp-validation-for="DateOfLastMOT" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="MOTDueDate" class="attribute"></label>
                            <input asp-for="MOTDueDate" class="form-control" disabled="disabled"/>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
</form>