 
@model MOTStatusWebApi.Data.MOTStatusDetails

@{
    ViewData["Title"] = "Home Page";
}


<style>

input:focus {
 
  outline: 3px solid yellow; 
  border:solid 3px black;
}

#button:active{
  outline: 3px solid yellow; 
}

</style>

<div class="container p-3 mt-4 bg-body-secondary">
    <div class="row pt-4">
        <div class="col-2"></div>
        <div class="col-8">
            <h1><strong>Enter the registration of the</strong></h1>
            <h1><strong>vehicle</strong></h1><br />
            <h3><strong>Registration number (number plate)</strong></h3>
            <p style="font-size:20px">For example, CU57ABC or ABC1234</p>

            <form method="post">
                <div class="mb-3">
                    <input class="regInput" type="text" name="registration" style=" height:40px; width:250px; border-style: solid;" />
                </div>
                <br />
               <button id="button" type="submit" style="background-color: green; color:white; height: 40px; width: 120px; font-size:20px">Continue</button>
               
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
